---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentCard from "../components/CompetenciesCard.astro";
import NewsList from '../components/NewsList.astro';
import "../styles/clients.css";


const clients = [
  {
    src: "/images/clients/arhangelskij-fanernyj-zavod.png",
    alt: "Архангельский фанерный завод",
  },
  { src: "/images/clients/baltica-lesorom.jpg", alt: "Балтика Лесором" },
  {
    src: "/images/clients/brjanskij-fanernyj-kombinat.png",
    alt: "Брянский фанерный комбинат",
  },
  { src: "/images/clients/krasnyj-jakor.png", alt: "Красный Якорь" },
  { src: "/images/clients/krasnyj-octjabyr.svg", alt: "Красный Октябрь" },
  { src: "/images/clients/mfzavod.png", alt: "Мурашинский завод" },
  { src: "/images/clients/nordeco.png", alt: "Nordeco" },
  { src: "/images/clients/partfino.svg", alt: "Partfino" },
  { src: "/images/clients/plyterra.svg", alt: "Plyterra" },
  { src: "/images/clients/segezha-group.svg", alt: "Segezha Group" },
  { src: "/images/clients/shatura-wood.png", alt: "Shatura Wood" },
];
---

<BaseLayout title="Главная | РС+">
  <section class="section section--hero">
    <div class="section__content">
      <div class="wide-content-block wide-content-block--hero">
        <div class="wide-content-block__content">
          <h1 class="wide-content-block__title">
            Комплексное поддержание высокой технической эффективности
            оборудования для производства фанеры и шпона
          </h1>
          <p class="subheadline wide-content-block__subtitle">
            РС Плюс — Профессионалы в сфере технического сопровождения фанерных
            производств в России и странах СНГ
          </p>
        </div>
        <div class="wide-content-block__media">
          <video
            class="wide-content-block__video"
            autoplay
            muted
            loop
            playsinline
          >
            <source
              src="https://materials.raute.com/file/dl/i/sMztBA/k8CVx3U_H7md8T8OmuN0yg/Raute-company-video-short_min.mp4"
              type="video/mp4"
            />
            Ваш браузер не поддерживает видео.
          </video>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--services">
    <div class="section__content">
      <div class="content-cards content-cards--competencies">
        <ContentCard
          title="Новые производственные линии"
          subtitle="Проектируем и поставляем линии для полного цикла фанерного производства"
          colorIndex={5}
          buttonLabel="Смотреть решения"
          icon="lines"
        >
          <ul class="content-card__list">
            <li>Проверенные современные технические решения</li>
            <li>Автоматизация производства</li>
            <li>Снижение расходов на персонал</li>
            <li>Повышение качества продукции</li>
            <li>Возможность производства новых видов продукции</li>
          </ul>
        </ContentCard>

        <ContentCard
          title="Развитие и обучение"
          subtitle="Помогаем предприятиям достигать нового уровня операционной эффективности."
          colorIndex={3}
          buttonLabel="Подробнее"
          icon="training"
        >
          <ul class="content-card__list">
            <li>Подготовка планов развития</li>
            <li>
              Помощь в производстве и обучении персонала, разработанная и
              опробованная программа тренингов.
            </li>
            <li>Анализ бизнес-идеи, рентабельности и рисков</li>
          </ul>
        </ContentCard>

        <ContentCard
          title="Запасные части"
          colorIndex={1}
          buttonLabel="Каталог запчастей"
          subtitle="Надёжные решения для бесперебойной работы оборудования"
          icon="parts"
        >
          <ul class="content-card__list">
            <li>
              Подбор аналогов и возможность поставки оригинальных запчастей
            </li>
            <li>
              Контроль качества, проверка соответствия по чертежам, базам
              данных, проектной документации
            </li>
            <li>Электронные каталоги запчастей по артикулам</li>
          </ul>
        </ContentCard>

        <ContentCard
          title="Сервисное обслуживание"
          subtitle="Поддерживаем эффективность и продлеваем срок службы оборудования"
          colorIndex={2}
          buttonLabel="Подробнее"
          icon="instrumenty"
        >
          <ul class="content-card__list">
            <li>
              Общие инспекции оборудования (механика, электрика, автоматика)
            </li>
            <li>
              Планово-предупредительный сервис, годовые сервисные контракты
            </li>
            <li>Инспекции по автоматике и оборудованию машинного зрения</li>
          </ul>
        </ContentCard>

        <ContentCard
          title="Модернизация"
          subtitle="Модернизируем оборудование для роста производительности и надёжности"
          colorIndex={4}
          buttonLabel="Смотреть проекты"
          buttonLink="/modernization"
          icon="modernization"
        >
          <ul class="content-card__list">
            <li>Внедрение инновационных решений для всех типов линий.</li>
            <li>Замена устаревших узлов и технологий</li>
            <li>Разработка агрегатов, АСУ и систем управления</li>
            <li>Оптимизация процессов лущения и смежных операций</li>
          </ul>
        </ContentCard>
      </div>
    </div>
  </section>

  <section class="section section--clients">
    <div class="section__content">
      <h2 class="section__title">Наши партнёры</h2>
      <div class="clients-logos-wrapper">
        <div class="clients-logos-track">
          {
            clients.map(({ src, alt }) => (
              <img src={src} alt={alt} loading="lazy" />
            ))
          }
          {
            clients.map(({ src, alt }) => (
              <img src={src} alt={alt} loading="lazy" />
            ))
          }
        </div>
        <script is:inline>
          window.addEventListener("load", function () {
            const track = document.querySelector(".clients-logos-track");
            const firstHalf = track.scrollWidth / 2;
            track.style.setProperty("--scroll-width", `-${firstHalf}px`);
          });
        </script>
      </div>
    </div>
  </section>

  <section class="section section--posts">
    <div class="section__content">
      <h2 class="section__title">Новости</h2>
      <NewsList/>
    </div>
  </section>
</BaseLayout>
