---
import BrandedCircle from "./BrandedCircle.astro";
const { title, subtitle, colorIndex = 1, buttonLabel, buttonLink, icon } = Astro.props;
---

<article class={`content-card content-card--competencies content-card--accent-alt${colorIndex}`}>
  <div class="content-card__bg pale-background "></div>
  <div class="content-card__body">
    <div class="content-card__icon-container">
      <BrandedCircle className="content-card__circle" iconId={icon}></BrandedCircle>
  </div>
    {title && <h3 class="content-card__title">{title}</h3>}
    {subtitle && <h4 class="content-card__subtitle">{subtitle}</h4>}
    <div class="content-card__text">
      <slot />
    </div>
  </div>

  {buttonLabel && (
    <div class="content-card__footer">
      <a href={buttonLink} class="btn content-card__btn">
        {buttonLabel}
      </a>
    </div>
  )}
</article>
